html {
  font-family: 'Open Sans', sans-serif; }

/*mini grid*/
.grid-100 {
  width: 100%; }

.grid-50 {
  width: 50%;
  float: left; }

.grid-25 {
  width: 25%;
  float: left; }

header, .header {
  background-color: #fff;
  text-align: center;
  margin-top: 2rem;
  height: auto;
  text-transform: uppercase; }

section {
  clear: none; }

body {
  background-color: #fff; }

div.capture {
  padding: 2rem;
  text-align: center; }

div.capture input {
  font-size: 1rem; }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file-input {
  font-size: 0;
  max-width: 100px;
  transition: font-size,2s,ease-in-out; }
  .custom-file-input.active {
    font-size: 1rem;
    max-width: 1000px;
    transition: font-size,2s,ease-in-out; }
  .custom-file-input:hover {
    cursor: pointer; }

.custom-file-input::before {
  content: 'Upload';
  display: inline-block;
  transition: background-color,0.35s,ease-in;
  background-color: #0092db;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 1rem;
  top: -5px;
  position: relative; }

.custom-file-input:active::before {
  background-color: #00a3f4; }

.custom-file-input:hover::before {
  transition: background-color,0.35s,ease-in;
  background-color: #00a3f4; }

div.content .canvas-wrap {
  border: 2px dashed #dfdfdf;
  display: inline-block; }

div.content .canvas-wrap canvas {
  padding: 2rem; }

/*filters*/
input[type="range"] {
  width: 40%;
  margin: 1.5rem; }

.filter label {
  color: #333;
  display: block;
  text-transform: uppercase; }

.filter-wrap {
  text-align: center;
  position: relative; }

.download, .save-local, .load-local, .control-btn {
  margin-top: 2rem;
  transition: background-color,0.35s,ease-in;
  background-color: #0092db;
  width: auto;
  padding: 0;
  font-size: 1rem;
  display: inline-block;
  color: #fff; }
  .download a, .save-local a, .load-local a, .control-btn a {
    color: #fff;
    width: auto;
    padding: 1rem;
    display: block; }
  .download:hover, .save-local:hover, .load-local:hover, .control-btn:hover {
    cursor: pointer;
    transition: background-color,0.35s,ease-in;
    background-color: #00a3f4; }
    .download:hover a, .save-local:hover a, .load-local:hover a, .control-btn:hover a {
      color: #fff; }

.control-btn {
  float: none;
  width: 150px;
  margin: 0 0.05rem;
  padding: 0; }
  .control-btn.reset {
    background-color: rgba(120, 120, 120, 0.89);
    transition: background-color,0.35s,ease-in; }
    .control-btn.reset:hover {
      background-color: red;
      transition: background-color,0.35s,ease-in; }
  .control-btn a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    padding: 1rem 0; }

.content-controls {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity,1s,ease-in; }
  .content-controls.active {
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: opacity,1.5s,ease-in-out; }

.canvas-container {
  width: 100%;
  text-align: center; }
  .canvas-container.active {
    width: 50%;
    text-align: left; }

#r_val {
  color: #FF0000; }

#g_val {
  color: #008000; }

#b_val {
  color: #0000FF; }

#a_val {
  color: #333; }

.colour-val {
  height: 20px;
  font-weight: bold; }

.image-controls {
  opacity: 0;
  transition: opacity,1s,ease-in; }
  .image-controls.active {
    opacity: 1;
    transition: opacity,1s,ease-in; }

.popup {
  width: 200px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  height: 50px;
  display: block;
  position: fixed;
  clear: both;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -25px;
  visibility: hidden;
  opacity: 0;
  transition: opacity,0.5s,ease-in;
  background-color: #fff;
  z-index: 2; }
  .popup.active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition: opacity,0.5s,ease-in; }
  .popup p {
    text-align: center;
    font-weight: bold;
    color: #00a3f4; }

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #333;
  opacity: 0.5;
  top: 0;
  z-index: 1; }
  .mask.active {
    display: block;
    z-index: 1; }

.canvas-paper {
  border: 2px solid #ebebeb !important;
  box-shadow: 8px 8px 16px 5px rgba(51, 51, 54, 0.3); }
